[package]
name = "rs_checklist_macros"
version = "0.1.0"
edition = "2024"
rust-version = "1.85"
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = { version = "2", features = ["full"] }
