.log-item
    border-top: 1px solid #4a4a4a
    padding: 8px 8px
    display: flex
    flex-direction: column

    &:first-child
        border-top: none

.log-header
    display: flex
    align-items: flex-start

.log-title
    flex-grow: 1

.log-output
    margin-left: 26px
    margin-top: 2px
    font-style: italic

.status-success
    color: #e09f3e

.status-info
    color: #c9c9c9

.status-modified
    color: #e09f3e

.agent-ha-container
  height: -webkit-fill-available
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 8px

  input
    width: 100% !important
    margin-left: 0px !important
    margin-bottom: 0px !important
    background: #484848 !important
    padding-left: 8px !important

  .agent-command-input
    color: #A5F3FC !important

    &::placeholder
      color: #a5f3fc

    &:focus
      border: 1px solid #0E7490 !important
