@import "../generated/index"

// -- Buttons --
button
  font-family: "SpaceMono"
  border-radius: 0.5em !important
  display: inline-flex
  outline: none
  border-width: 0em
  flex: 0 0 1.75em !important
  box-sizing: border-box
  white-space: nowrap


  &:hover:not(:disabled)
    color: colors-ui-text-primary-body

  &:focus-visible:not(:disabled)
    outline: none !important
    box-shadow: inset 0 0 0 0.125em colors-ui-border-focus !important
    color: colors-ui-text-primary-body

  &:disabled
    color: colors-ui-text-disabled-default !important
    opacity: 0.5
    pointer-events: none
    cursor: not-allowed

// Sizes
[class*="ct-button-lg-"]
  padding: 0.75em 0.875em 0.75em 0.875em

[class*="ct-button-md-"]
  padding: 0.5em 0.75em 0.5em 0.75em

[class*="ct-button-sm-"]
  padding: 0.25em 0.625em 0.25em 0.625em

// TODO: For now restrict to button class -
// later on maybe combine the three styles?
[class*="-button-"][class*="-primary"]
  background-color: colors-ui-surface-action-primary
  color: colors-ui-text-on-action-primary

  &:hover
    background-color: colors-ui-surface-action-primary-hover !important

[class*="-button-"][class*="-tertiary"]
  background-color: colors-ui-surface-primary-tertiary
  color: colors-ui-text-primary-body-subtle

  &:disabled
    border: 0.03125em solid colors-ui-border-disabled

[class*="-button-"][class*="-primary"]
[class*="-button-"][class*="-tertiary"]
  &:hover
    background-color: colors-ui-surface-primary-tertiary-hover

  &:disabled
    background-color: colors-ui-surface-primary-disabled

[class*="-button-"][class*="-secondary"]
  background-color: colors-ui-surface-primary-default
  border: 0.03125em solid colors-ui-border-primary
  color: colors-ui-text-primary-body-subtle

  &:hover
    background-color: colors-ui-surface-primary-default-hover

  &:focus-visible:not(:disabled)
    background-color: colors-ui-surface-primary-secondary

[class*="ct-button-sm-secondary"]
    border: 0em !important

// -- Icon-buttons --
[class*="ct-button-image-"]
  background-position: center
  background-size: 1em 1em !important
  background-repeat: no-repeat
  border-radius: 0.375em !important

[class*="ct-button-image-lg-"]
  width: 2em
  max-width: 2em
  height: 2em
  max-height: 2em

[class*="ct-button-image-md-"]
  width: 1.75em
  max-width: 1.75em
  height: 1.75em
  max-height: 1.75em

[class*="ct-button-image-sm-"]
  width: 1.5em
  max-width: 1.5em
  height: 1.5em
  max-height: 1.5em

#next-image
  background-image: ct-images-next

#reverse-next-image
  background-image: ct-images-reverse-next

#step-in-image
  background-image: ct-images-step-in

#reverse-step-in-image
  background-image: ct-images-reverse-step-in

#step-out-image
  background-image: ct-images-step-out

#reverse-step-out-image
  background-image: ct-images-reverse-step-out

#continue-image
  background-image: ct-images-continue

#reverse-continue-image
  background-image: ct-images-reverse-continue

#reset-operation-image
  background-image: ct-images-reset-operation

#reset-operation-loading-image
  background-image: ct-images-reset-operation-loading

#stop-image
  background-image: ct-images-stop

#jump-before-image
  background-image: ct-images-jump-before

#jump-after-image
  background-image: ct-images-jump-after

#run-to-entry-image
  background-image: ct-images-run-to-entry

#run-tests-image
  background-image: ct-images-run-tests

#run-tests-loading-image
  background-image: ct-images-run-tests-loading

#history-back-image
  background-image: ct-images-history-back

#history-forward-image
  background-image: ct-images-history-forward

#copy-path-image
  background-image: ct-images-copy-path

#category-image
  background-image: ct-images-layout-tab

  &.open
    background-image: ct-images-layout-tab-active !important
    background-color: ACTIVE_LAYOUT_BUTTONS_BACKGROUND

#close-element
  background-image: ct-images-close-button
  background-size: 0.5em 0.5em !important

#backward-loop
  background-image: ct-images-omni-backward
  background-size: 0.5em !important
  z-index: 10
  height: 1.3em !important
  width: 1.3em !important
  max-width: 1.3em !important
  max-height: 1.3em !important

#forward-loop
  background-image: ct-images-omni-forward
  background-size: 0.5em !important
  z-index: 10
  height: 1.3em !important
  width: 1.3em !important
  max-width: 1.3em !important
  max-height: 1.3em !important

#trace-run-button
  background-image: ct-images-run-tracepoint
  background-size: 1.75em 1.75em !important
  z-index: 100

#hamburger-dropdown
  background-image: ct-images-hamburger-dropdown
  z-index: 100

#value-history
  background-image: ct-images-value-history-toggle
  background-size: 0.75em 0.75em !important

  &:hover > .custom-tooltip
    opacity: 1
    visibility: visible
    transition-delay: TOOLTIP_DELAY_TIMER

  .custom-tooltip
    top: -30%
    left: 120%

    &:after
      content: '';
      position: absolute;
      left: -0.875em
      top: 20%
      border-width: 0.5em
      border-style: solid
      border-color: transparent TOOLTIP_BACKGROUND transparent transparent

.ct-button-no-border
  border: none !important

.custom-tooltip
  display: block
  position: absolute
  font-family: "SpaceGrotesk"
  top: 100%
  background-color: TOOLTIP_BACKGROUND
  color: PRIMARY_TEXT_COLOR
  padding: 0.3125em 0.625em
  font-size: 0.75em
  border-radius: 0.25em
  white-space: nowrap
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2)
  opacity: 0
  visibility: hidden
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease
  pointer-events: none
  text-align: start
  line-height: 1em

  &.active
    opacity: 1
    visibility: visible
    top: -100%
    height: 1.5em
    right: 0.25em

    &:after
      content: ''
      position: absolute
      top: 100%
      left: unset
      right: 0.25em
      border-width: 0.5em
      border-style: solid
      border-color: TOOLTIP_BACKGROUND transparent transparent transparent

  &:after
    content: ''
    position: absolute
    bottom: 100%
    left: calc(50% - 0.5em)
    border-width: 0.5em
    border-style: solid
    border-color: transparent transparent TOOLTIP_BACKGROUND transparent

[class*="ct-button-image-"]:hover > .custom-tooltip
  opacity: 1
  visibility: visible
  top: calc(100% + 0.3125em)
  transition-delay: TOOLTIP_DELAY_TIMER
