.ct-header
  display: flex
  padding: 0 0.25em;
  justify-content: center;
  align-items: center;
  align-self: stretch;

#isonim-debug-controls
  position: fixed
  top: 0.25em
  left: 50%
  transform: translateX(-50%)
  z-index: 45
  -webkit-app-region: no-drag

  .isonim-debug-controls
    height: 2.1em
    gap: 0.5em
    padding: 0
