
.filesystem-container
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.filesystem
  font-family: "SpaceGrotesk" !important
  font-size: 14px !important
  font-style: normal !important
  font-weight: 400 !important
  overflow: auto
  //border: 1px solid silver
  min-height: 100px
  height: -webkit-fill-available
  overflow-y: scroll
  // background-color: BACKGROUND_COLOR
  color: TEXT_CONTENT_COLOR
  margin-left: 2px

  &:focus
    outline: 0px

.jstree-anchor
  color: TEXT_CONTENT_COLOR !important

.diff-file
  color: orange !important

.diff-files-list
  max-height: 20% !important
  height: auto
  display: flex
  flex-direction: column
  border-top: 4px solid PRIMARY_BASE
  overflow-y: auto
  overflow-x: hidden
  margin-left: 2px
  background-color: PRIMARY_BASE

  &::-webkit-scrollbar-thumb
    border-color: PRIMARY_BASE
    margin-right: 2px

.diff-file-path
  cursor: pointer
  padding-left: 8px

.path-odd
  background: INACTIVE_BASE
.path-even
  background: ACTIVE_ROW
