
.filesystem-container
  height: 100%

.filesystem
  font-family: "SpaceGrotesk" !important
  font-size: 14px !important
  font-style: normal !important
  font-weight: 400 !important
  overflow: auto
  //border: 1px solid silver
  min-height: 100px
  height: 100%
  overflow-y: scroll
  // background-color: BACKGROUND_COLOR
  color: TEXT_CONTENT_COLOR
  margin-left: 2px

  &:focus
    outline: 0px

.jstree-anchor
  color: TEXT_CONTENT_COLOR !important

.diff-file
  color: orange !important
