.history-list
  position: absolute
  display: flex
  flex-direction: column
  margin-top: 34px
  white-space: nowrap
  padding: 2px
  padding-top: 4px
  padding-bottom: 4px
  transform: translate(0, 50%)
  border-radius: 6px
  background: colors-ui-surface-input-default

  .history-list-item-wrapper
    padding-left: 2px
    padding-right: 2px

    .history-list-item
      width: 100%
      padding-left: 8px
      padding-right: 8px
      cursor: pointer
      font-family: "SpaceMono"
      color: colors-ui-text-primary-body
      border-radius: 6px
      font-size: 14px
      line-height: 24px
      display: flex
      justify-content: space-between


      &:hover
        background: colors-ui-surface-primary-secondary-hover

      &:focus
        outline: none

.full-history-list
  display: flex
  position: absolute
  background: colors-ui-surface-input-default
  flex-direction: column
  padding: 2px
  padding-top: 4px
  padding-bottom: 4px
  left: 100%
  transform: translateY(-28px)
  overflow-y: auto
  min-height: 0
  max-height: 30vh
  border-radius: 6px

  &::-webkit-scrollbar-thumb
    border-color: colors-ui-surface-input-default

.menu-expand
  width: MENU_EXPAND_WIDTH
  float: left
  position: relative
  margin-left: 8px
  display: flex
  align-items: center

  &::after
    position: absolute
    right: 4px
    // top: calc(50% - 6px)
    width: 7px
    height: 8px
    content: MENU_EXTEND_ARROW_ICON
    display: flex
    align-items: center
    padding-bottom: 2px
    transform: translateY(1px)
// .full-history-item:after
//   content: MENU_EXTEND_ARROW_ICON
//   width: 7px
//   height: 8px
//   padding-bottom: 2px
//   position: absolute
//   bottom: 10px
//   right: 12px
//   display: flex
//   align-items: center

.history-list-item.active
  background-color: colors-ui-surface-primary-secondary-hover
  color: red

#history
  display: flex
  flex-direction: column

  > #results
    display: flex
    flex-direction: column

#history-switch
  margin-left: 90px

#values-switch
  margin-left: 90px

.history-expandable
  color: colors-ui-text-primary-body

.history-even
  background-color: colors-ui-surface-base-panel

.history-odd
  background-color: BACKGROUND_NEIGHBOUR_COLOR

.value-name-container
  white-space: nowrap

  .toggle-value-history
    transform: translateY(0px)
    margin-left: 4px

.toggle-value-history
  background-image: HISTORY_VALUE_VIEW_TOGGLE_IMAGE
  background-size: 10px 10px
  background-position: center
  background-repeat: no-repeat
  display: inline-block
  height: 16px
  min-width: 16px
  margin-left: 8px
  transform: translateY(3px)
  padding: 2px
  border-radius: 100px
  cursor: pointer
  outline: 1px solid colors-ui-border-primary-hover

  &.active
    outline: 2px solid colors-ui-border-primary-hover

  &:hover > .custom-tooltip
    opacity: 1
    visibility: visible
    transition-delay: TOOLTIP_DELAY_TIMER

  .custom-tooltip
    top: -30%
    left: 120%

    &:after
      content: '';
      position: absolute;
      left: -14px
      top: 20%
      border-width: 8px
      border-style: solid
      border-color: transparent colors-ui-surface-canvas transparent transparent

.history-text
  display: flex
  flex-direction: column
  align-items: start
  width: inherit
  padding-left: 4px
  padding-right: 4px

  .history-text-element
    display: flex
    justify-content: flex-start
    width: inherit
    // border: 1px colors-ui-text-primary-body solid

    .history-location-element
      margin-right: 8px
      display: flex
      flex-direction: column
      align-items: end

    .history-value-element
      width: inherit

    .history-location
      // flex-basis: 25%
      width: fit-content
      color: colors-ui-text-primary-body


    .history-value
      flex-basis: 25%
      white-space: nowrap
      color: colors-ui-text-warning-primary
      margin-right: 25px
      padding-left: 4px

      &:hover
        background: colors-ui-surface-input-default !important
        border-radius: 4px !important

.history-header
  position: relative
  top: 0
  height: 30px
  margin-top: 5px

.history-button-close
  z-index: 1
  padding-left: 10px
  background-image: ELEMENT_COMPONENT_CLOSE_ICON
  background-size: 22px 22px
  background-position: center
  background-repeat: no-repeat
  width: 24px
  height: 24px
  background-color: transparent

  &:hover
    background-color: colors-ui-surface-canvas

.history-container
  display: flex
  width: -webkit-fill-available
  margin-left: 12px

.inline-history, .history
  background-color: colors-ui-surface-input-default
  color: colors-ui-text-primary-body
  font-size: 14px
  cursor: pointer
  max-height: 100px !important
  min-height: fit-content
  position: relative
  display: flex
  overflow-y: scroll
  border-radius: 6px
  padding-left: 4px
  width: -webkit-fill-available

  // &::-webkit-scrollbar-thumb
  //   border-color: colors-ui-surface-input-default

  &::-webkit-scrollbar-corner
    background-color: colors-ui-surface-input-default !important

  .inline-history-event
    display: flex
    border-style: solid
    border-width: 1px
    border-color: colors-ui-text-primary-body
    padding: 1px

    .inline-history-event-codeID
      border-right: solid 1px colors-ui-text-primary-body
      flex-basis: 50%

    .inline-history-event-value
      flex-basis: 50%
      padding: 1px

.history
  width: 100%
