.recent
  width: 100%
  height: 20px
  margin: 20px
  cursor: pointer

.loading
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  left: 0
  background-color: LOADING_COLOR_BG

.loading-text
  color: LOADING_TEXT_COLOR_FG
  font-size: 72px
  text-align: center
  margin-top: 5vh

.loading-logo
  text-align: center
  margin-top: 10vh

.loading-tips
  text-align: center
  margin-top: 10vh

.loading-tip
  display: flex

.loading-tip-info
  display: flex
  flex-direction: column
  width: 50vw

.loading-tip-video
  width: 50vw

.loading-tip-id
  flex-basis: 20%
  font-size: 42px

.loading-tip-description
  flex-basis: 80%
  font-size: 20px
