@import "../generated/index"

.ct-omni-value
    font-family: "SpaceMono"
    border-radius: 0.25em
    padding: 0.25em 0.5em
    background: colors-editor-surface-primary
    display: flex
    align-items: center
    justify-content: center
    margin-right: 0.5em

.ct-omni-name
    color: colors-ui-icon-primary-subtle

.ct-omni-name-std
    color: colors-secondary-300

.ct-omni-name-error
    color: colors-error-400

[class*="ct-omni-name"]
    margin-right: 0.5em
