.repl-component
  height: 100%
  width: 100%
  min-height: 0
  background-color: colors-ui-surface-base-panel
  color: colors-ui-text-primary-body
  overflow: hidden

.repl-msg-wrapper
  width: inherit
  height: inherit
  display: flex
  justify-content: center
  align-items: center
  color: colors-ui-text-primary-body
  font-style: italic

  .repl-disabled-msg
    text-align: center
    white-space: break-spaces

#repl
  height: 100%
  min-height: 0
  display: flex
  flex-direction: column
  background-color: colors-ui-surface-base-panel
  color: colors-ui-text-primary-body

  form
    flex: 0 0 auto

  #repl-input
    color: colors-ui-text-primary-body
    height: 28px
    font-size: 17px !important
    border: 0
    background-color: colors-ui-surface-primary-tertiary
    width: calc(100% - 6px)
    margin-left: 8px !important
    margin-right: 8px
    margin-bottom: 5px !important
    border-radius: 4px
    padding-left: 15px
    overflow: hidden !important
    text-overflow: ellipsis !important
    white-space: nowrap !important

    &:focus-visible
      outline: none !important
      box-shadow: inset 0 0 0 0.125em colors-ui-border-focus !important
      border: 1px solid colors-ui-surface-base-panel !important
      overflow: hidden !important
      text-overflow: ellipsis !important
      white-space: nowrap !important

  #repl-history
    flex: 1 1 auto
    min-height: 0
    overflow: auto

    .repl-input-history
      background-color: BACKGROUND_NEIGHBOUR_COLOR
      border-radius: 10px
      margin: 5px
      padding-left: 5px

    .repl-output-history
      overflow-x: auto
      margin: 5px
      padding-left: 10px
      padding-right: 10px

      .repl-output-loading
        font-style: italic
        white-space: pre-wrap

      .repl-output-result
        color: blue
        white-space: pre-wrap

      .repl-output-move
        font-style:italic
        color: grey
        white-space: pre-wrap

      .repl-output-error
        font-weight: bold
        font-style: italic
        color: red
        white-space: pre-wrap

#replComponent
  height: inherit
  overflow: auto
