
[id^="scratchpadComponent-"]
  height: 100%

#scratchpad
  background-color: colors-ui-surface-base-panel
  height: 100vh

  .scratchpad-element

    .scratchpad-value
      width: calc(100% - 20px)
      float: left

      .atom-even
        background-color: colors-ui-surface-base-panel
        border: 1px colors-ui-text-primary-body solid

    .scratchpad-close
      width: 20px
      float: left
      color: colors-ui-text-primary-body

.scratchpad-value-view
  display: flex
  align-items: start
  min-height: 1.5em
  padding: 0.15em 0.35em
  color: colors-ui-text-primary-body

  .scratchpad-value-cell
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    line-height: 1.45em

  &.scratchpad-value-error .scratchpad-value-cell
    color: CALLTRACE_RETURN_COLOR

  .toggle-value-history
    display: none

  .scratchpad-value-close
    background-image: ELEMENT_COMPONENT_CLOSE_ICON
    background-size: 16px 16px
    background-position: center
    background-repeat: no-repeat
    padding: 0
    width: 24px
    height: 24px
    background-color: transparent
    cursor: pointer

    &:hover
      opacity: 0.5

  .value-expanded
    padding: 0
    flex: 1 1 auto
    min-width: 0

  .value-expanded-atom-parent
    min-width: 0

  .value-view
    min-width: 0
    display: flex
    align-items: center
    flex-wrap: wrap

  .value-expanded-compound:before
    left: 4px !important
