@import "defaults"

MAIN_BACKGROUND_COLOR = #FFFFFF

COLOR_ACTIVE_PANEL_BG = #000
COLOR_INACTIVE_PANEL_BG = #eee
COLOR_ACTIVE_TAB_BG = #507EE3
COLOR_ACTIVE_TAB_FG = #fff
COLOR_INACTIVE_TAB_BG = #ccc
COLOR_INACTIVE_TAB_FG = #000

COLOR_PANEL_BORDER = COLOR_INACTIVE_PANEL_BG

IDENTIFIER_COLOR = #2E1717
STRING_COLOR = #1FE742
NUMBER_COLOR = #E01E1E
KEYWORD_COLOR = #E5ED29
COMMENT_COLOR = #99968b
NUMBER_STRING = #3DE4A8
GLOBAL_COLOR = #bad672
LINE_COLOR = #888
TODO_COLOR = #8f8f8f
TYPE_NAME_COLOR = #cae682
FUNCTION_NAME_COLOR = #cae682
KEYWORD_FONT_WEIGHT = normal

TOKEN_DIMMED_COLOR_BG = #aaa

GUTTER_COLOR_FG = #000
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_BREAKPOINT_COLOR_BG = #f00
QUERY_COMPLETION_BG = #000
QUERY_COMPLETION_FG = #fff

FOCUS_COLOR_BG = #f00
FOCUS_COLOR_FG = #fff
FLOW_COLOR_BG = #0f0
FLOW_COLOR_FG = #fff
FUTURE_COLOR_BG = #00f
FUTURE_COLOR_FG = #fff
TRACE_COLOR_BG = #008
TRACE_COLOR_FG = #fff
ON_COLOR_BG = #FAFA57
ON_COLOR_FG = #00f
INLINE_EXPANDED_COLOR = #fff
TRACE_EVEN_COLOR = #222
TRACE_ODD_COLOR = #111
BREAKPOINT_MENU_0 = #00f
BREAKPOINT_MENU_1 = #FFFC00
DEBUG_BUTTON_COLOR = #000
DEBUG_COLOR = #fff
INLINE_NAME_COLOR = #00f
INLINE_RIGHT_VAR_COLOR_BG = #38b088
INLINE_RIGHT_VAR_COLOR_FG = #fff
INLINE_RIGHT_NAME_COLOR = #fff
JUMP_COLOR = #fff
TRACE_SIMPLE_COLOR = #000
TRACE_VAR_COLOR = #000
TRACE_ENUM_COLOR = #0f0
TRACE_EXPAND_COLOR = #00f
SHAPE_EXPAND_COLOR = #00f
TRACE_EVEN_COLOR_BG = #222
TRACE_ODD_COLOR_BG = #111
TRACE_SEARCH_COLOR = #00f
ACTIVE_COLOR_BG = #222
ACTIVE_COLOR_FG = #fff
DIALOG_COLOR_BG = #000
DIALOG_COLOR_FG = #fff
INLINE_SEGMENT_COLOR_FG = #000
INLINE_SEGMENT_COLOR_BG = #787
INLINE_SEGMENT_CHANGED_COLOR_FG = #000
INLINE_SEGMENT_CHANGED_COLOR_BG = #294

LOADING_COLOR_BG = #b8f
OVERLAY_COLOR_BG = #00f
OVERLAY_COLOR_FG = #fff

STATUS_BACKGROUND_COLOR=#2a344c
BUTTON_BACKGROUND_COLOR=#4b546a
STATUS_EXPANDED_BUTTON_BACKGROUND_COLOR=#bfc5d3
WHITESPACE_STATUS_BUTTON_COLOR=#364c66
WHITESPACE_STATUS_BUTTON_HOVER_COLOR=#fefefe
BUTTON_COLOR=#fefefe
STATUS_EXPANDED_BUTTON_COLOR=#353d51
MENU_BACKGROUND_COLOR=#293247
DEBUG_BUTTON_COLOR=#fefefe

HEADER_PANEL_BACKGROUND_COLOR=#b8c0cf
HEADER_PANEL_COLOR=#545b6b
HEADER_ACTIVE_PANEL_BACKGROUND_COLOR=white //#f5f5f5 TODO
@import "codetracer"
