@import "defaults"

BACKGROUND_COLOR=black

LAYOUT_SPLITTER_COLOR = #333642

MAIN_BACKGROUND_COLOR = #FFFFFF

TEXT_CONTENT_COLOR = white
COLOR=TEXT_CONTENT_COLOR // TODO: use just TEXT_CONTENT_COLOR

BORDERS_COLOR= #1e1f26

BACKGROUND_NEIGHBOUR_COLOR=#3ff
BACKGROUND_OPPOSITE_COLOR=white

COLOR=#9ea2a7
NEIGHBOUR_COLOR=#abb
OPPOSITE_COLOR=black

COLOR_PANEL_BORDER=#eee
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
QUERY_COMPLETION_BG = #000
QUERY_COMPLETION_FG = #fff
FUTURE_COLOR_BG = #00f
FUTURE_COLOR_FG = #fff
TRACE_COLOR_BG = #008
TRACE_COLOR_FG = #fff
ON_COLOR_BG = #FAFA57
ON_COLOR_FG = #00f
INLINE_EXPANDED_COLOR = #fff
TRACE_EVEN_COLOR = #222
TRACE_ODD_COLOR = #111
INLINE_NAME_COLOR = #00f
INLINE_RIGHT_VAR_COLOR_BG = #38b088
INLINE_RIGHT_VAR_COLOR_FG = #fff
INLINE_RIGHT_NAME_COLOR = #fff
JUMP_COLOR = #fff
TRACE_SIMPLE_COLOR = #000
TRACE_VAR_COLOR = #000
TRACE_ENUM_COLOR = #0f0
TRACE_EXPAND_COLOR = #00f
TRACE_EVEN_COLOR_BG = #222
TRACE_ODD_COLOR_BG = #111
TRACE_SEARCH_COLOR = #00f
ACTIVE_COLOR_BG = #222
ACTIVE_COLOR_FG = #fff
DIALOG_COLOR_BG = #000
DIALOG_COLOR_FG = #fff
INLINE_SEGMENT_CHANGED_COLOR_FG = #000
INLINE_SEGMENT_CHANGED_COLOR_BG = #294
LOADING_COLOR_BG = #b8f
OVERLAY_COLOR_BG = #00f
OVERLAY_COLOR_FG = #fff
GUTTER_COLOR_FG = #000
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_BREAKPOINT_COLOR_BG = #f00
ON_BG_COLOR = #9e6b5b

STATUS_BACKGROUND_COLOR=#1e232d
BUTTON_BACKGROUND_COLOR=#414751
STATUS_EXPANDED_BUTTON_BACKGROUND_COLOR=#4147ee
WHITESPACE_STATUS_BUTTON_COLOR=white
WHITESPACE_STATUS_BUTTON_HOVER_COLOR=blue
BUTTON_COLOR=rgb(209, 213, 224)
STATUS_EXPANDED_BUTTON_COLOR=white
MENU_BACKGROUND_COLOR=#1a1c20
DEBUG_BUTTON_COLOR=#e4e2e2


HEADER_PANEL_BACKGROUND_COLOR=#444858
HEADER_PANEL_COLOR=#fefefe // #bbbdc0
HEADER_ACTIVE_PANEL_BACKGROUND_COLOR=#18222c


OUTPUT_COLOR_FG = #fff
OUTPUT_COLOR_BG = #000
CALLTRACE_COLOR_CURRENT = #00f
CALLTRACE_COLOR_PREVIOUS = #00f
CALLTRACE_COLOR_NEXT = #3aa4b5
CALLTRACE_COLOR_CHILDREN = #0ff
CALLTRACE_SUMMARY_BG = #a2a
SPEED_VERY_FAST_BG = #52F373
SPEED_FAST_BG = #4BA02F
SPEED_MEDIUM_BG = #DCF438
SPEED_SLOW_BG = #F02D2D
HIGHLIGHT_COLOR = #62F4D4
ERROR_COLOR_FG = #fff
ERROR_COLOR_BG = #a00
NORMAL_COLOR_FG = #fff
NORMAL_COLOR_BG = #0a0
WARN_COLOR_FG = #fff
WARN_COLOR_BG = #0ff
FUZZY_RESULT_COLOR_BG = #888
LOADING_TEXT_COLOR_FG = #00f
SEARCHED_TOKEN_COLOR = #ECF53D
BREAK_COLOR = #fff
INSTANTIATIONS_MENU_COLOR_BG = #3761D3
INSTANTIATIONS_MENU_COLOR_FG = #D3E9E9
INCODE_COLOR_BG = #77DA1D
INCODE_COLOR_BORDER = #77FF00
MENU_LINE_HEIGHT = 25px
MENU_FONT_SIZE = 17px
MENU_SHORTCUT_FONT_SIZE = 16px
MENU_NAME_PADDING = 5px

MENU_NODE_WIDTH=18vw
MENU_NODE_NAME_WIDTH=16vw
MENU_NODE_SHORTCUT_WIDTH=8.5vw
MENU_NODE_ICON_WIDTH=1vw
MENU_NODE_MIN_WIDTH=200px
MENU_NODE_NAME_MIN_WIDTH=calc(200px - 2vw)
MENU_SEARCH_INPUT_WIDTH=17vw
MENU_SEARCH_INPUT_MIN_WIDTH=calc(200px - 1vw)
MENU_ELEMENT_NAME_WIDTH=8.5vw
MENU_ELEMENT_NAME_MIN_WIDTH=calc(100px - 1vw)
MENU_NODE_SHORTCUT_MIN_WIDTH=calc(100px - 1vw)
NAVIGATION_MENU_COLOR=#eeeeef
NAVIGATION_MENU_BACKGROUND_COLOR=#2f3842
MENU_EXPAND_WIDTH=1vw
MENU_NODE_SHORTCUT_TEXT_COLOR=#5a81e5
NAVIGATION_MENU_ACTIVE_BACKGROUND_COLOR=#4d9be1

// those filters convert to white
TO_WHITE_SVG_FILTER=invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
DEBUG_BUTTON_SVG_FILTER=TO_WHITE_SVG_FILTER
MENU_BUTTON_SVG_FILTER=TO_WHITE_SVG_FILTER

FLOW_PARALLEL_NAME_BACKGROUND_COLOR=#777
FLOW_PARALLEL_NAME_COLOR=black
FLOW_PARALLEL_BEFORE_VALUE_BORDER_COLOR=#9ea2b2
FLOW_PARALLEL_BEFORE_VALUE_COLOR=#222
FLOW_PARALLEL_NAME_BORDER_COLOR=#777
FLOW_PARALLEL_BEFORE_VALUE_BACKGROUND_COLOR=#9ea2b2
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BORDER_COLOR=#9ea2b2
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#9ea2b2
FLOW_PARALLEL_BEFORE_ONLY_VALUE_COLOR=black
FLOW_PARALLEL_AFTER_VALUE_BORDER_COLOR=#1c5a91
FLOW_PARALLEL_AFTER_VALUE_BACKGROUND_COLOR=#1c5a91
FLOW_PARALLEL_AFTER_VALUE_COLOR=#bfc0c2
FLOW_PARALLEL_ITERATION_INFO_COLOR=black
FLOW_PARALLEL_ITERATION_INFO_BACKGROUND_COLOR=#b5b7c0
FLOW_PARALLEL_SLIDER_COLOR=#eee

EVENT_LOG_BORDER_COLOR=#2c3040
EVENT_LOG_BUTTON_BACKGROUND_COLOR=#2c3040
EVENT_LOG_BUTTON_UNSELECTED_COLOR=red
EVENT_LOG_BUTTON_SELECTED_COLOR=COLOR
EVENT_LOG_CARET_DOWN_COLOR=COLOR
EVENT_LOG_INPUT_COLOR=COLOR
EVENT_LOG_INPUT_BACKGROUND_COLOR=BACKGROUND_COLOR

REGION_BACKGROUND_COLOR=rgb(255, 234, 216)
COMMAND_EVEN_BACKGROUND_COLOR=BACKGROUND_COLOR
COMMAND_SELECTED_BACKGROUND_COLOR=BACKGROUND_NEIGHBOUR_COLOR
COMMAND_ODD_BACKGROUND_COLOR=#eef


WEBKIT_SCROLLER_BACKGROUND_COLOR=white
WEBKIT_SCROLLER_HOVER_BACKGROUND_COLOR=#eee
WEBKIT_SCROLLER_THUMB_BACKGROUND_COLOR=#ccc
WEBKIT_SCROLLER_THUMB_ACTIVE_BACKGROUND_COLOR=black

EDITOR_MENU_TRACE_COLOR=#00f
TRACE_HEADER_BACKGROUND_COLOR=black
RR_TICKS_LINE_LEFT_COLOR=yellow
RR_TICKS_LINE_RIGHT_COLOR=blue
RR_TICKS_EMPTY_REMAINING_COLOR=#222

BORDER_COLOR=#aaa

ATOM_EVEN_BACKGROUND_COLOR=#0aa
HEADER_ELEMENT_BACKGROUND_COLOR=#2c3040

TERMINAL_LESS_VISIBLE_COLOR=#aaa

LAYOUT_MAXIMISE_BACKGROUND_IMAGE_ICON = "../../public/resources/menu/maximize_16.svg"
SHELL_BACKGROUND_COLOR = BACKGROUND_COLOR
SHELL_TEXT_CONTENT_COLOR = TEXT_CONTENT_COLOR

@import "codetracer"
