OUTPUT_COLOR_FG = #fff
OUTPUT_COLOR_BG = #000
CALLTRACE_COLOR_CURRENT = #00f
CALLTRACE_COLOR_PREVIOUS = #00f
CALLTRACE_COLOR_NEXT = #3aa4b5
CALLTRACE_COLOR_CHILDREN = #0ff
CALLTRACE_SUMMARY_BG = #a2a
SPEED_VERY_FAST_BG = #52F373
SPEED_FAST_BG = #4BA02F
SPEED_MEDIUM_BG = #DCF438
SPEED_SLOW_BG = #F02D2D
HIGHLIGHT_COLOR = #62F4D4
ERROR_COLOR_FG = #fff
ERROR_COLOR_BG = #a00
NORMAL_COLOR_FG = #fff
NORMAL_COLOR_BG = #0a0
WARN_COLOR_FG = #fff
WARN_COLOR_BG = #0ff
FUZZY_RESULT_COLOR_BG = #888
LOADING_TEXT_COLOR_FG = #00f
SEARCHED_TOKEN_COLOR = #ECF53D
BREAK_COLOR = #fff
INSTANTIATIONS_MENU_COLOR_BG = #3761D3
INSTANTIATIONS_MENU_COLOR_FG = #D3E9E9
INCODE_COLOR_BG = #77DA1D
INCODE_COLOR_BORDER = #77FF00
MENU_LINE_HEIGHT = 25px
MENU_FONT_SIZE = 17px
MENU_SHORTCUT_FONT_SIZE = 16px
MENU_NAME_PADDING = 5px
STATUS_BACKGROUND_COLOR=#2a344c
BUTTON_BACKGROUND_COLOR=#4b546a
STATUS_EXPANDED_BUTTON_BACKGROUND_COLOR=#bfc5d3
WHITESPACE_STATUS_BUTTON_COLOR=#364c66
WHITESPACE_STATUS_BUTTON_HOVER_COLOR=#fefefe
BUTTON_COLOR=#fefefe
STATUS_EXPANDED_BUTTON_COLOR=#353d51
MENU_BACKGROUND_COLOR=#293247
DEBUG_BUTTON_COLOR=#fefefe
HEADER_PANEL_BACKGROUND_COLOR=#b8c0cf
HEADER_PANEL_COLOR=#545b6b
HEADER_ACTIVE_PANEL_BACKGROUND_COLOR=white //#f5f5f5 TODO

MENU_NODE_WIDTH=18vw
MENU_NODE_NAME_WIDTH=16vw
MENU_NODE_SHORTCUT_WIDTH=8.5vw
MENU_NODE_ICON_WIDTH=1vw
MENU_NODE_MIN_WIDTH=200px
MENU_NODE_NAME_MIN_WIDTH=calc(200px - 2vw)
MENU_SEARCH_INPUT_WIDTH=17vw
MENU_SEARCH_INPUT_MIN_WIDTH=calc(200px - 1vw)
MENU_ELEMENT_NAME_WIDTH=8.5vw
MENU_ELEMENT_NAME_MIN_WIDTH=calc(100px - 1vw)
MENU_NODE_SHORTCUT_MIN_WIDTH=calc(100px - 1vw)
NAVIGATION_MENU_COLOR=#080808
NAVIGATION_MENU_BACKGROUND_COLOR=#e8eaf0
MENU_EXPAND_WIDTH=1vw
MENU_NODE_SHORTCUT_TEXT_COLOR=#5a81e5
NAVIGATION_MENU_ACTIVE_BACKGROUND_COLOR=#97c5d3

FLOW_PARALLEL_NAME_BACKGROUND_COLOR=#777
FLOW_PARALLEL_NAME_COLOR=white
FLOW_PARALLEL_BEFORE_VALUE_BORDER_COLOR=#aaa
FLOW_PARALLEL_BEFORE_VALUE_COLOR=black
FLOW_PARALLEL_NAME_BORDER_COLOR=#777
FLOW_PARALLEL_BEFORE_VALUE_BACKGROUND_COLOR=#aaa
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BORDER_COLOR=#ccc
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#ccc
FLOW_PARALLEL_BEFORE_ONLY_VALUE_COLOR=black
FLOW_PARALLEL_AFTER_VALUE_BORDER_COLOR=#eee
FLOW_PARALLEL_AFTER_VALUE_BACKGROUND_COLOR=#eee
FLOW_PARALLEL_AFTER_VALUE_COLOR=black

EVENT_LOG_BORDER_COLOR=#eee
EVENT_LOG_BUTTON_BACKGROUND_COLOR=#eef
EVENT_LOG_BUTTON_UNSELECTED_COLOR=red
EVENT_LOG_BUTTON_SELECTED_COLOR=#434f6a
EVENT_LOG_CARET_DOWN_COLOR=#646e85
EVENT_LOG_INPUT_COLOR=COLOR
EVENT_LOG_INPUT_BACKGROUND_COLOR=BACKGROUND_COLOR
REGION_BACKGROUND_COLOR=rgb(255, 234, 216)
COMMAND_EVEN_BACKGROUND_COLOR=BACKGROUND_COLOR
COMMAND_SELECTED_BACKGROUND_COLOR=BACKGROUND_NEIGHBOUR_COLOR
COMMAND_ODD_BACKGROUND_COLOR=#eef

WEBKIT_SCROLLER_BACKGROUND_COLOR=white
WEBKIT_SCROLLER_HOVER_BACKGROUND_COLOR=#eee
WEBKIT_SCROLLER_THUMB_BACKGROUND_COLOR=#ccc
WEBKIT_SCROLLER_THUMB_ACTIVE_BACKGROUND_COLOR=black

EDITOR_MENU_TRACE_COLOR=#00f
TRACE_HEADER_BACKGROUND_COLOR=#eee
RR_TICKS_LINE_LEFT_COLOR=yellow
RR_TICKS_LINE_RIGHT_COLOR=red
RR_TICKS_EMPTY_REMAINING_COLOR=#eee


DEFAULT=white // placeholder

BORDER_COLOR=DEFAULT
HEADER_ELEMENT_BACKGROUND_COLOR=#eef
