@import "defaults"

BOLD_WEIGHT=500

// Base colors
PRIMARY_BASE=#565656
SEARCH_STROKE=#565656
SECONDARY_BASE=#2C2C2C
DIFF_BACKGROUND=#1F1F1F
DROPDOWN_BASE=#242424
ACTIVE_ROW=#3A3A3A
LINE_STROKE=#3A3A3A
PRIMARY_TEXT_COLOR=#F3F3F3
ACTIVE_MENU_BACKGROUND=#333333
BUTTON_HOVER_BACKGROUND=SECONDARY_BASE
DEBUG_BUTTON_HOVER_BACKGROUND=#5D5D5D
DEBUG_BUTTON_ACTIVE_BACKGROUND=#4F4F4F
TOOLTIP_BACKGROUND=#1B1B1B
ACTIVE_LAYOUT_BUTTONS_BACKGROUND=DROPDOWN_BASE
INACTIVE_BASE=#414141
BREAKPOINT_COLOR=#F87171
TRACEPOINT_COLOR=#6366F1
TRACEPOINT_LINE_NUMBER_COLOR=#c6c6c6

CT_PRIMARY_DEFAULT=#6366F1
CT_PRIMARY_DEFAULT_FOCUSED=#4F46E5
CT_SECONDARY_BLUE=#818CF8

COMMAND_PALETTE_START_MSG_IMG=url("../../public/resources/shared/send_msg.svg")
COMMAND_PALETTE_STOP_MSG_IMG=url("../../public/resources/shared/stop_msg.svg")
COMMAND_PALETTE_ADD_FILE_IMG=url("../../public/resources/shared/add_file.svg")
COMMAND_PALETTE_ARROW_IMG=url("../../public/resources/shared/command_arrow.svg")
COMMAND_PALETTE_USER_IMG=url("../../public/resources/agent/user_img.svg")
COMMAND_PALETTE_AI_IMG=url("../../public/resources/agent/ai_img.svg")
COMMAND_PALETTE_COPY_IMG=url("../../public/resources/agent/command_palette_copy.svg")
COMMAND_PALETTE_EDIT_IMG=url("../../public/resources/agent/command_palette_edit.svg")
COMMAND_PALETTE_UPLOAD_IMG=url("../../public/resources/agent/command_palette_upload.svg")
COMMAND_PALETTE_REDO_IMG=url("../../public/resources/agent/command_palette_redo.svg")

AI_LOADING_ANIMATION=url("../../public/resources/shared/agent_loading_animation.svg")

NOUI_SLIDER_HANDLER_IMAGE=url("../../public/resources/shared/noUiSlider_handle_icon_dark.svg")
NOUI_SLIDER_ACTIVE_HANDLER_IMAGE=url("../../public/resources/shared/noUiSlider_handle_active_icon_dark.svg")
NOUI_SLIDER_HANDLER_BACKGROUND=#818181
NOUI_SLIDER_ACTIVE_HANDLER_BACKGROUND=#B4B4B4
NOUI_SLIDER_HANDLER_BORDER=SECONDARY_BASE
NOUI_SLIDER_BACKGROUND_COLOR=PRIMARY_BASE

HISTORY_VALUE_VIEW_TOGGLE_IMAGE=url('../../public/resources/shared/history_value_view_toggle_dark.svg')
HISTORY_TOGGLE_ACTIVE_OUTLINE=#858585

BACKGROUND_COLOR=SECONDARY_BASE
CT_LOGO_BACKGROUND_COLOR=#DC2626
INPUT_BORDER_COLOR=PRIMARY_BASE
INPUT_FOCUSED_BORDER_COLOR=#818181

VALUE_TYPE_COLOR=PRIMARY_TEXT_COLOR

ADD_TO_SCRATCHPAD_BUTTON_IMAGE=url('../../public/resources/shared/add_to_scratchpad_button_dark.svg')

VALUE_NAME_COLOR=#A78BFA
VALUE_RESULT_COLOR=#FB923C

LAYOUT_SPLITTER_COLOR = PRIMARY_BASE

// EVENT_LOG_EVENT_ICON_PATH = url('../../public/resources/events/event_icon_13_dark.svg')

FLOW_HIDE_ICON = url('../../public/resources/shared/flow_hide_dark.svg')
FLOW_SHOW_ICON = url('../../public/resources/shared/flow_show_dark.svg')

WINDOW_MINIMIZE_ICON_PATH = url('../../public/resources/window/minimize_window_dark.svg')
WINDOW_RESTORE_ICON_PATH = url('../../public/resources/window/maximize_window_dark.svg')
WINDOW_MAXIMIZE_ICON_PATH = url('../../public/resources/window/maximize_window_dark.svg')
WINDOW_CLOSE_ICON_PATH = url('../../public/resources/window/close_window_dark.svg')

WELCOME_SCREEN_WINDOW_MINIMIZE_ICON_PATH = url('../../public/resources/window/minimize_16_dark.svg')
WELCOME_SCREEN_WINDOW_MAXIMIZE_ICON_PATH = url('../../public/resources/window/maximize_16_dark.svg')
WELCOME_SCREEN_WINDOW_CLOSE_ICON_PATH = url('../../public/resources/window/close_16_dark.svg')

WELCOME_SCREEN_COPY_BUTTON = url('../../public/resources/welcome/welcome_screen_copy_button_dark.svg')
WELCOME_SCREEN_DELETE_BUTTON = url('../../public/resources/welcome/welcome_screen_delete_button_dark.svg')
WELCOME_SCREEN_UPLOAD_BUTTON = url('../../public/resources/welcome/welcome_screen_upload_button_dark.svg')
WELCOME_SCREEN_INFO_BUTTON = url('../../public/resources/welcome/welcome_screen_info_button_dark.svg')
WELCOME_SCREEN_INFO_ACTIVE_BUTTON = url('../../public/resources/welcome/welcome_screen_info_active_button_dark.svg')
WELCOME_SCREEN_ACTIVE_BACKGROUND = #FB923C

WELCOME_SCREEN_EXPIRE_TIME_COLOR = #919191

RECENT_TRANSACTION_ACTION_BUTTON = url('../../public/resources/welcome/transaction_action_button_dark.svg')

LAYOUT_MINIMIZE_ICON_PATH = url('../../public/resources/menu/minimize_16_dark.svg')
LAYOUT_MAXIMIZE_ICON_PATH = url('../../public/resources/menu/maximize_16_dark.svg')
LAYOUT_CLOSE_ICON_PATH = url('../../public/resources/menu/close_16_dark.svg')
LAYOUT_TAB_CLOSE_ICON_PATH = url('../../public/resources/menu/lm_close_tab_dark.svg')
LAYOUT_TAB_NESTED_ICON = url('../../public/resources/window/layout_nested_button_dark.svg')
ACTIVE_LAYOUT_TAB_NESTED_ICON = url('../../public/resources/window/active_layout_nested_button_dark.svg')
LAYOUT_DROPDOWN_ICON_COLOR = #1e1f26

ELEMENT_COMPONENT_CLOSE_ICON = url('../../public/resources/shared/element_component_close_dark.svg')

SHARED_OPEN_FA_ICON = url('../../public/resources/shared/filesystem/filesystem_open_toggle_dark.svg')
SHARED_CLOSE_FA_ICON = url('../../public/resources/shared/filesystem/filesystem_close_toggle_dark.svg')
HIGHLIGHT_LINE_ARROW = url('../../public/resources/shared/highlight_line_arrow.svg')

TRACEPOINT_HAMBURGER_ICON = url('../../public/resources/tracepoints/trace_hamburger_dark.svg')

MAIN_BACKGROUND_COLOR = #FFFFFF

TEXT_CONTENT_COLOR = PRIMARY_TEXT_COLOR
COLOR=TEXT_CONTENT_COLOR // TODO: use just TEXT_CONTENT_COLOR

BORDERS_COLOR=LINE_STROKE
CHECKMARK_BORDERS_COLOR=#555555

COLOR_ACTIVE_PANEL_BG = #000
COLOR_INACTIVE_PANEL_BG = #eee
COLOR_ACTIVE_TAB_BG = #507EE3
COLOR_ACTIVE_TAB_FG = #fff
COLOR_INACTIVE_TAB_BG = #ccc
COLOR_INACTIVE_TAB_FG = #000

COLOR_PANEL_BORDER = COLOR_INACTIVE_PANEL_BG

IDENTIFIER_COLOR = #2E1717
STRING_COLOR = #1FE742
NUMBER_COLOR = #E01E1E
KEYWORD_COLOR = #E5ED29
COMMENT_COLOR = #99968b
NUMBER_STRING = #3DE4A8
GLOBAL_COLOR = #bad672
LINE_COLOR = #888
TODO_COLOR = #8f8f8f
TYPE_NAME_COLOR = #cae682
FUNCTION_NAME_COLOR = #cae682
KEYWORD_FONT_WEIGHT = normal

TOKEN_DIMMED_COLOR_BG = #aaa

GUTTER_COLOR_FG = #000
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_BREAKPOINT_COLOR_BG = #f00
QUERY_COMPLETION_BG = #000
QUERY_COMPLETION_FG = #fff

FOCUS_COLOR_BG = #f00
FOCUS_COLOR_FG = #fff
FLOW_COLOR_BG = #0f0
FLOW_COLOR_FG = #fff
FUTURE_COLOR_BG = #00f
FUTURE_COLOR_FG = #fff
TRACE_COLOR_BG = #008
TRACE_COLOR_FG = #fff
ON_COLOR_BG = #FAFA57
ON_COLOR_FG = #00f
INLINE_EXPANDED_COLOR = #fff
TRACE_EVEN_COLOR = #222
TRACE_ODD_COLOR = #111
BREAKPOINT_MENU_0 = #00f
BREAKPOINT_MENU_1 = #FFFC00
DEBUG_BUTTON_BORDER_COLOR=ACTIVE_ROW
DEBUG_SEPARATE_BAR_COLOR=SECONDARY_BASE
DEBUG_BUTTON_COLOR = #000
DEBUG_COLOR = #fff
INLINE_NAME_COLOR = #00f
INLINE_RIGHT_VAR_COLOR_BG = #38b088
INLINE_RIGHT_VAR_COLOR_FG = #fff
INLINE_RIGHT_NAME_COLOR = #fff
JUMP_COLOR = #fff
TRACE_SIMPLE_COLOR = #000
TRACE_VAR_COLOR = #000
TRACE_ENUM_COLOR = #0f0
TRACE_EXPAND_COLOR = #00f
SHAPE_EXPAND_COLOR = #00f
TRACE_EVEN_COLOR_BG = #222
TRACE_ODD_COLOR_BG = #111
TRACE_SEARCH_COLOR = #00f
ACTIVE_COLOR_BG = #222
ACTIVE_COLOR_FG = PRIMARY_TEXT_COLOR
DIALOG_COLOR_BG = #000
DIALOG_COLOR_FG = #fff
INLINE_SEGMENT_COLOR_FG = #000
INLINE_SEGMENT_COLOR_BG = #787
INLINE_SEGMENT_CHANGED_COLOR_FG = #000
INLINE_SEGMENT_CHANGED_COLOR_BG = #294

LOADING_COLOR_BG = #b8f
OVERLAY_COLOR_BG = #00f
OVERLAY_COLOR_FG = #fff

GUTTER_COLOR_FG = #000
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_BREAKPOINT_COLOR_BG = #f00
BREAKPOINT_MENU_0 = #00f
BREAKPOINT_MENU_1 = #FFFC00
ON_BG_COLOR = #4F4F4F
ON_FG_COLOR = #000

STATUS_BACKGROUND_COLOR=PRIMARY_BASE
OPERATION_STATUS_COLOR=#86EFAC

WHITESPACE_STATUS_BUTTON_COLOR=#364c66
WHITESPACE_STATUS_BUTTON_HOVER_COLOR=#fefefe

BUTTON_COLOR=PRIMARY_BASE
HOVERED_BUTTON_COLOR=#353d51
BUTTON_BACKGROUND_COLOR=SECONDARY_BASE
HOVERED_BUTTON_BACKGROUND_COLOR=#bfc5d3

MENU_BACKGROUND_COLOR=PRIMARY_BASE !important
DEBUG_BUTTON_COLOR=#fefefe

HEADER_PANEL_BACKGROUND_COLOR=PRIMARY_BASE
HEADER_PANEL_COLOR=#bbbdc0
HEADER_PANEL_INACTIVE_COLOR=INACTIVE_BASE
HEADER_ACTIVE_PANEL_BACKGROUND_COLOR= BACKGROUND_COLOR //#5885ac
HEADER_ACTIVE_PANEL_TEXT_COLOR=PRIMARY_TEXT_COLOR

CALLTRACE_COLLAPSE_IMG='../../public/resources/calltrace/collapse-call-calltrace-dark.svg'
CALLTRACE_EXPAND_IMG='../../public/resources/calltrace/expand-call-calltrace-dark.svg'
CALLTRACE_DOT_IMG='../../public/resources/calltrace/dot-call-calltrace-dark.svg'
CALLTRACE_EOP_IMG='../../public/resources/calltrace/end-of-program-dark.svg'
CALLTRACE_EOP_ERROR_IMG='../../public/resources/calltrace/end-of-program-error-dark.svg'

CALLTRACE_ACTIVE_COLLAPSE_IMG='../../public/resources/calltrace/collapse-active-call-calltrace-dark.svg'
CALLTRACE_ACTIVE_EXPAND_IMG='../../public/resources/calltrace/expand-active-call-calltrace-dark.svg'
CALLTRACE_ACTIVE_DOT_IMG='../../public/resources/calltrace/dot-active-call-calltrace-dark.svg'

OUTPUT_COLOR_FG = #fff
OUTPUT_COLOR_BG = #000
CALLTRACE_COLOR_BG = #fff
CALLTRACE_COLOR_CURRENT = #00f
CALLTRACE_COLOR_PREVIOUS = #00f
CALLTRACE_COLOR_NEXT = #3aa4b5
CALLTRACE_COLOR_CHILDREN = #0ff
CALLTRACE_COLLAPSED_CALL = #166534
CALLTRACE_END_OF_PROGRAM_TEXT = #FED7AA
CALLTRACE_END_OF_PROGRAM_ERROR = #F87171
CALLTRACE_SUMMARY_BG = #a2a
CALLTRACE_ARGS_COLOR = #BBF7D0
CALLTRACE_RETURN_COLOR = #BFDBFE
CALLTRACE_TOOLTIP_BACKGROUND_COLOR = DROPDOWN_BASE
CALLTRACE_TOOLTIP_BORDER_COLOR = #444857
CALLTRACE_TRACE_LINE_COLOR = #E8E8E8
CALLTRACE_NEXT_CALL_POINTER_COLOR = #FF9870
SPEED_VERY_FAST_BG = #52F373
SPEED_FAST_BG = #4BA02F
SPEED_MEDIUM_BG = #DCF438
SPEED_SLOW_BG = #F02D2D
HIGHLIGHT_COLOR = #4F4F4F
ERROR_COLOR_FG = #fff
ERROR_COLOR_BG = #a00
NORMAL_COLOR_FG = #fff
NORMAL_COLOR_BG = #0a0
WARN_COLOR_FG = #fff
WARN_COLOR_BG = #0ff
FUZZY_RESULT_COLOR_BG = #888
LOADING_TEXT_COLOR_FG = #00f
SEARCHED_TOKEN_COLOR = #ECF53D
BREAK_COLOR = #fff
INSTANTIATIONS_MENU_COLOR_BG = #3761D3
INSTANTIATIONS_MENU_COLOR_FG = #D3E9E9
INCODE_COLOR_BG = #77DA1D
INCODE_COLOR_BORDER = #77FF00
MENU_LINE_HEIGHT = 25px
MENU_FONT_SIZE = 14px
MENU_SHORTCUT_FONT_SIZE = 16px
MENU_NAME_PADDING = 5px
// MENU_BACKGROUND_COLOR=#293247
DEBUG_BUTTON_COLOR=#fefefe

LINE_NUMBERS_TEXT_COLOR = #485f7a
LINE_NUMBERS_BORDER_COLOR = PRIMARY_BASE
GUTTER_LINE_TEXT_COLOR = #8e8f92

WEBKIT_SCROLLER_BACKGROUND_COLOR=BACKGROUND_COLOR
WEBKIT_SCROLLER_HOVER_BACKGROUND_COLOR=BACKGROUND_COLOR
WEBKIT_SCROLLER_THUMB_BACKGROUND_COLOR=#414141
WEBKIT_SCROLLER_THUMB_ACTIVE_BACKGROUND_COLOR=DEBUG_BUTTON_ACTIVE_BACKGROUND

RR_TICKS_EMPTY_REMAINING_COLOR=#38393A

MENU_NODE_WIDTH=200px
MENU_NODE_NAME_WIDTH=140px
MENU_NODE_SHORTCUT_WIDTH=195px
MENU_NODE_ICON_WIDTH=17px
MENU_NODE_MIN_WIDTH=200px
MENU_NODE_NAME_MIN_WIDTH=166px
MENU_SEARCH_INPUT_WIDTH=289px
MENU_SEARCH_INPUT_MIN_WIDTH=183px
MENU_ELEMENT_NAME_WIDTH=195px
MENU_ELEMENT_NAME_MIN_WIDTH=83px
MENU_NODE_SHORTCUT_MIN_WIDTH=17px
NAVIGATION_MENU_COLOR=#EDEDEE
NAVIGATION_MENU_BACKGROUND_COLOR=DROPDOWN_BASE
NAVIGATION_MENU_INPUT_BACKGROUND_COLOR=SECONDARY_BASE
NAVIGATION_MENU_BORDER_COLOR=#666A78
MENU_EXPAND_WIDTH=2ch
MENU_NODE_SHORTCUT_TEXT_COLOR=#E8E8E8
MENU_NODE_SHORTCUT_BACKGROUND=ACTIVE_ROW
NAVIGATION_MENU_ACTIVE_BACKGROUND_COLOR=ACTIVE_MENU_BACKGROUND

COMMAND_EVEN_BACKGROUND_COLOR=BACKGROUND_COLOR
COMMAND_ODD_BACKGROUND_COLOR=TEXT_CONTENT_COLOR
COMMAND_RESULT_BACKGROUND_COLOR = SECONDARY_BASE
COMMAND_RESULT_HOVERED_BACKGROUND_COLOR = ACTIVE_ROW
COMMAND_RESULT_SELECTED_BACKGROUND_COLOR = ACTIVE_ROW
COMMAND_RESULT_SELECTED_TEXT_COLOR = PRIMARY_TEXT_COLOR
COMMAND_BORDERS_COLOR = SEARCH_STROKE
COMMAND_HIGHLIGHTED_RESULT_TEXT_COLOR = #F97316

FLOW_PARALLEL_BACKGROUND_COLOR=#272B3B
FLOW_PARALLEL_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4F89A0
FLOW_PARALLEL_BACKGROUND_BORDER_COLOR=#39414a
FLOW_LOOP_EXPRESSION_BACKGROUND_COLOR=ACTIVE_ROW
FLOW_LOOP_EXPRESSION_BOX_SHADOW_COLOR=DROPDOWN_BASE
FLOW_LOOP_VALUE_BOX_SHADOW_COLOR=DROPDOWN_BASE
FLOW_PARALLEL_NAME_BACKGROUND_COLOR=#777
FLOW_PARALLEL_NAME_COLOR=PRIMARY_TEXT_COLOR
FLOW_PARALLEL_BEFORE_VALUE_BORDER_COLOR=#4C535D
FLOW_PARALLEL_BEFORE_VALUE_COLOR=black
FLOW_PARALLEL_NAME_BORDER_COLOR=#777
FLOW_PARALLEL_BEFORE_VALUE_BACKGROUND_COLOR=#aaa
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BORDER_COLOR=#ccc
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=DROPDOWN_BASE
FLOW_PARALLEL_BEFORE_ONLY_VALUE_COLOR=PRIMARY_TEXT_COLOR
FLOW_PARALLEL_DUAL_VALUE_BACKGROUND_COLOR=DROPDOWN_BASE
FLOW_PARALLEL_DUAL_VALUE_COLOR=PRIMARY_TEXT_COLOR
FLOW_PARALLEL_AFTER_VALUE_BORDER_COLOR=#eee
FLOW_PARALLEL_AFTER_VALUE_BACKGROUND_COLOR=DROPDOWN_BASE
FLOW_PARALLEL_AFTER_VALUE_COLOR=PRIMARY_TEXT_COLOR

FLOW_PARALLEL_ERROR_NAME=#B91C1C
FLOW_PARALLEL_ERROR_BOX=#7F1D1D

FLOW_PARALLEL_STD_DEFAULT_NAME=#0E7490
FLOW_PARALLEL_STD_DEFAULT_BOX=#164E63

FLOW_VALUE_NAME_BACKGROUND=ACTIVE_ROW
FLOW_BACKGROUND_COLOR=DROPDOWN_BASE

FLOW_LOOP_CONNECT=#1C5990
FLOW_HANDLE=#56a3e8
FLOW_SLIDER_BASE=#C2C4CD

FLOW_MULTILINE_BACKGROUND_COLOR=BACKGROUND_COLOR
FLOW_MULTILINE_LOOP_VALUE_BACKGROUND_COLOR=#1C5990
FLOW_MULTILINE_LOOP_VALUE_COLOR=#BEBFC1
FLOW_MULTILINE_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4F89A0
FLOW_MULTILINE_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#C2C4CD
FLOW_MULTILINE_BEFORE_ONLY_VALUE_COLOR=black
FLOW_MULTILINE_VALUE_BOX_SHADOW_COLOR=#9A9DA7

FLOW_INLINE_BACKGROUND_COLOR=BACKGROUND_COLOR
FLOW_INLINE_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4F89A0
FLOW_INLINE_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#1C5990
FLOW_INLINE_BEFORE_ONLY_VALUE_COLOR=#BEBFC1

FLOW_CONDITION_TAKEN = #16653489
FLOW_CONDITION_NOT_TAKEN = #991b1b4d

EVENT_LOG_BACKGROUND_COLOR=white
EVENT_LOG_COLOR=black
EVENT_LOG_CONTENT_COLOR=PRIMARY_TEXT_COLOR
EVENT_LOG_BUTTON_BACKGROUND_COLOR=#eef
EVENT_LOG_BUTTON_UNSELECTED_COLOR=red
EVENT_LOG_BUTTON_SELECTED_COLOR=#434f6a
EVENT_LOG_CARET_DOWN_COLOR=#646e85
EVENT_LOG_INPUT_COLOR=PRIMARY_TEXT_COLOR
EVENT_LOG_ROWS_BORDERS_COLOR=LINE_STROKE

EVENT_LOG_FA_DOWN_ICON=url("../../public/resources/shared/fa_down_dark.svg")
EVENT_LOG_FA_UP_ICON=url("../../public/resources/shared/fa_up_dark.svg")

// dropdown menus
DROPDOWN_COLOR=PRIMARY_TEXT_COLOR
DROPDOWN_ARROW_COLOR=#E8E8E8
DROPDOWN_ARROW_FOCUSED_COLOR=PRIMARY_TEXT_COLOR
DROPDOWN_TEXT_COLOR=#E8E8E8
DROPDOWN_TEXT_FOCUSED_COLOR=PRIMARY_TEXT_COLOR
DROPDOWN_LIST_BACKGROUND_COLOR=ACTIVE_MENU_BACKGROUND
DROPDOWN_LIST_FOCUSED_BACKGROUND_COLOR=DROPDOWN_BASE
DROPDOWN_CHECKMARK_COLOR=#16A34A
DROPDOWN_TOGGLE_BUTTONS_BACKGROUND=ACTIVE_MENU_BACKGROUND


//checkmark colors
CHECKMARK_BORDER_COLOR=#2c3040

INPUT_BACKGROUND_COLOR=#2c3040
INPUT_PLACEHOLDER_COLOR=#C8C8C8
INPUT_DEFAULT_SEARCH_ICON=url("../../public/resources/shared/input_default_search_icon_dark.svg")


TRACEPOINT_CHEVRON_COLOR=#5E5F65
TRACEPOINT_SPLITTER_COLOR=SEARCH_STROKE

TRACEPOINT_BACKGROUND_COLOR=DROPDOWN_BASE

SELECTED_BACKGROUND_COLOR=ACTIVE_ROW

RR_TICKS_LINE_LEFT_COLOR=#FDE047
RR_TICKS_LINE_RIGHT_COLOR=#F97316

HEADER_ELEMENT_BACKGROUND_COLOR=PRIMARY_BASE

COMMENT_TEXT_COLOR = #a0735e
STRING_TEXT_COLOR = #83319c
KEY_WORDS_TEXT_COLOR = #e48e59
TYPES_TEXT_COLOR = #cd536d
VALUES_TEXT_COLOR = #eba991

MENU_EXTEND_ARROW_ICON = url("../../public/resources/menu/menu_expand_button_dark.svg")
FILE_MENU_ICON = url("../../public/resources/menu/menu_file_dark.svg")
EDIT_MENU_ICON = url("../../public/resources/menu/menu_edit_dark.svg")
VIEW_MENU_ICON = url("../../public/resources/menu/menu_view_dark.svg")
NAVIGATE_MENU_ICON = url("../../public/resources/menu/menu_navigate_dark.svg")
BUILD_MENU_ICON = url("../../public/resources/menu/menu_build_dark.svg")
DEBUG_MENU_ICON = url("../../public/resources/menu/menu_debug_dark.svg")
HELP_MENU_ICON = url("../../public/resources/menu/menu_help_dark.svg")
NEW_FILE_MENU_ICON = url("../../public/resources/menu/new_file_16_dark.svg")
OPEN_FILE_MENU_ICON = url("../../public/resources/menu/open_file_16_dark.svg")
SHELL_BACKGROUND_COLOR = BACKGROUND_COLOR
SHELL_TEXT_CONTENT_COLOR = TEXT_CONTENT_COLOR

WELCOME_SCREEN_BACKGROUND_COLOR = DROPDOWN_BASE
WELCOME_SCREEN_TEXT_COLOR = PRIMARY_TEXT_COLOR
WELCOME_SCREEN_VERSION_TEXT_COLOR = #797979
WELCOME_SCREEN_OPTIONS_TEXT_COLOR = PRIMARY_TEXT_COLOR
WELCOME_SCREEN_OPTIONS_TEXT_COLOR_HOVERED = #4F9FE6
WELCOME_SCREEN_OPTIONS_RECORD_ICON = url("../../public/resources/welcome/Play_50_dark.svg")
WELCOME_SCREEN_OPTIONS_RECORD_ICON_HOVERED = url("../../public/resources/welcome/Play_50_blue.svg")
WELCOME_SCREEN_RECENT_PROJECT_BACKGROUND_COLOR = ACTIVE_ROW
WELCOME_SCREEN_RECENT_TRACE_COLOR=#FFEDD5
WELCOME_SCREEN_SEPARATE_BAR_COLOR=#646464

NEW_RECORD_SCREEN_INPUT_BACKGROUND_COLOR = SECONDARY_BASE
NEW_RECORD_SCREEN_BUTTON_BACKGROUND_COLOR = DEBUG_BUTTON_ACTIVE_BACKGROUND
NEW_RECORD_LABEL_COLOR = #ABABAB
NEW_RECORD_CONFIRMATION_BUTTON_BACKGROUND = #4F46E5

FORM_INVALID_INPUT_COLOR = #cd536d

NOTIFICATION_INFO_COLOR = #3B82F6
NOTIFICATION_WARNING_COLOR = #F97316
NOTIFICATION_ERROR_COLOR = #EF4444
NOTIFICATION_SUCCESS_COLOR = #22C55E

NOTIFICATION_INFO_IMG = url("../../public/resources/notifications/info_icon_dark.svg")
NOTIFICATION_WARNING_IMG = url("../../public/resources/notifications/warning_icon_dark.svg")
NOTIFICATION_ERROR_IMG = url("../../public/resources/notifications/error_icon_dark.svg")
NOTIFICATION_SUCCESS_IMG = url("../../public/resources/notifications/success_icon_dark.svg")

NOTIFICATION_BACKGROUND_COLOR = DROPDOWN_BASE

NOTIFICATION_CLOSE_BUTTON = url("../../public/resources/notifications/notification_close_button_dark.svg")

DEBUG_NOTIFICATIONS_TEXT = #a3a5a7

STATUS_SUCCESS = #4ADE80
STATUS_UNSUCCESS = #EF4444

AGENT_BACKGROUND = #484848
AGENT_HOVER_BACKGROUND = #242424
AGENT_WHITE = #FAFAFA

TEST_ACTIVE_BACKGROUND = #15803D
