@import "defaults"

BOLD_WEIGHT=500

BACKGROUND_COLOR=#F5F5F5
CT_LOGO_BACKGROUND_COLOR=#DC2626
INPUT_BORDER_COLOR=#565656
INPUT_FOCUSED_BORDER_COLOR=#818181
BUTTON_HOVER_BACKGROUND=#2C2C2C
TOOLTIP_BACKGROUND=#1B1B1B
ACTIVE_LAYOUT_BUTTONS_BACKGROUND=#2C2C2C
BREAKPOINT_COLOR=#F87171
TRACEPOINT_COLOR=#6366F1
TRACEPOINT_LINE_NUMBER_COLOR=#c6c6c6

DEBUG_BUTTON_HOVER_BACKGROUND=#5D5D5D
DEBUG_BUTTON_ACTIVE_BACKGROUND=#4F4F4F

NOUI_SLIDER_HANDLER_IMAGE=url("../../public/resources/shared/noUiSlider_handle_icon_dark.svg")
NOUI_SLIDER_HANDLER_BACKGROUND=#b6b6b6
NOUI_SLIDER_HANDLER_BORDER=BACKGROUND_COLOR
NOUI_SLIDER_BACKGROUND_COLOR=BACKGROUND_COLOR

HISTORY_VALUE_VIEW_TOGGLE_IMAGE=url('../../public/resources/shared/history_value_view_toggle_dark.svg')
HISTORY_TOGGLE_ACTIVE_OUTLINE=#858585

VALUE_TYPE_COLOR=PRIMARY_TEXT_COLOR

VALUE_NAME_COLOR=#da70d6
VALUE_RESULT_COLOR=#FB923C

ADD_TO_SCRATCHPAD_BUTTON_IMAGE=url('../../public/resources/shared/add_to_scratchpad_button_dark.svg')

BORDERS_COLOR=#434f6a
CHECKMARK_BORDERS_COLOR=#ABABAB

LAYOUT_SPLITTER_COLOR = #b8c0cf

// EVENT_LOG_EVENT_ICON_PATH = url('../../public/resources/events/event_icon_13_white.svg')

FLOW_HIDE_ICON = url('../../public/resources/shared/flow_hide_dark.svg')
FLOW_SHOW_ICON = url('../../public/resources/shared/flow_show_dark.svg')

WINDOW_MINIMIZE_ICON_PATH = url('../../public/resources/window/minimize_16_white.svg')
WINDOW_MAXIMIZE_ICON_PATH = url('../../public/resources/window/maximize_16_white.svg')
WINDOW_CLOSE_ICON_PATH = url('../../public/resources/window/close_16_white.svg')

WELCOME_SCREEN_WINDOW_MINIMIZE_ICON_PATH = url('../../public/resources/window/minimize_16_grey.svg')
WELCOME_SCREEN_WINDOW_MAXIMIZE_ICON_PATH = url('../../public/resources/window/maximize_16_grey.svg')
WELCOME_SCREEN_WINDOW_CLOSE_ICON_PATH = url('../../public/resources/window/close_16_grey.svg')

WELCOME_SCREEN_COPY_BUTTON = url('../../public/resources/welcome/welcome_screen_copy_button_dark.svg')
WELCOME_SCREEN_DELETE_BUTTON = url('../../public/resources/welcome/welcome_screen_delete_button_dark.svg')
WELCOME_SCREEN_UPLOAD_BUTTON = url('../../public/resources/welcome/welcome_screen_upload_button_dark.svg')
WELCOME_SCREEN_INFO_BUTTON = url('../../public/resources/welcome/welcome_screen_info_button_dark.svg')
WELCOME_SCREEN_INFO_ACTIVE_BUTTON = url('../../public/resources/welcome/welcome_screen_info_active_button_dark.svg')
WELCOME_SCREEN_ACTIVE_BACKGROUND = #FB923C

WELCOME_SCREEN_EXPIRE_TIME_COLOR = #919191

RECENT_TRANSACTION_ACTION_BUTTON = url('../../public/resources/welcome/transaction_action_button_dark.svg')

LAYOUT_MINIMIZE_ICON_PATH = url('../../public/resources/menu/minimize_16_white.svg')
LAYOUT_MAXIMIZE_ICON_PATH = url('../../public/resources/menu/maximize_16_white.svg')
LAYOUT_CLOSE_ICON_PATH = url('../../public/resources/menu/close_16_white.svg')
LAYOUT_TAB_CLOSE_ICON_PATH = url('../../public/third_party/golden-layout/dist/img/lm_close_black.png')
LAYOUT_TAB_NESTED_ICON = url('../../public/resources/window/layout_nested_button_dark.svg')
ACTIVE_LAYOUT_TAB_NESTED_ICON = url('../../public/resources/window/active_layout_nested_button_dark.svg')
LAYOUT_DROPDOWN_ICON_COLOR = #778088

ELEMENT_COMPONENT_CLOSE_ICON = url('../../public/resources/shared/element_component_close_dark.svg')

SHARED_OPEN_FA_ICON = url('../../public/resources/shared/filesystem/filesystem_open_toggle_dark.svg')
SHARED_CLOSE_FA_ICON = url('../../public/resources/shared/filesystem/filesystem_close_toggle_dark.svg')
HIGHLIGHT_LINE_ARROW = url('../../public/resources/shared/highlight_line_arrow.svg')

TRACEPOINT_HAMBURGER_ICON = url('../../public/resources/tracepoints/trace_hamburger_dark.svg')

TEXT_CONTENT_COLOR = #464646

BACKGROUND_NEIGHBOUR_COLOR=#eee
BACKGROUND_OPPOSITE_COLOR=black

COLOR=black
NEIGHBOUR_COLOR=#111
OPPOSITE_COLOR=white

COLOR_PANEL_BORDER=#eee
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_LINE_TEXT_COLOR = #6e6e6e
QUERY_COMPLETION_BG = #000
QUERY_COMPLETION_FG = #fff
FUTURE_COLOR_BG = #00f
FUTURE_COLOR_FG = #fff
TRACE_COLOR_BG = #008
TRACE_COLOR_FG = #fff
ON_COLOR_BG = #FAFA57
ON_COLOR_FG = #00f
INLINE_EXPANDED_COLOR = #fff
TRACE_EVEN_COLOR = #222
TRACE_ODD_COLOR = #111
INLINE_NAME_COLOR = #00f
INLINE_RIGHT_VAR_COLOR_BG = #38b088
INLINE_RIGHT_VAR_COLOR_FG = #fff
INLINE_RIGHT_NAME_COLOR = #fff
JUMP_COLOR = #fff
TRACE_SIMPLE_COLOR = #000
TRACE_VAR_COLOR = #000
TRACE_ENUM_COLOR = #0f0
TRACE_EXPAND_COLOR = #00f
TRACE_EVEN_COLOR_BG = #222
TRACE_ODD_COLOR_BG = #111
TRACE_SEARCH_COLOR = #00f
ACTIVE_COLOR_BG = #222
ACTIVE_COLOR_FG = #fff
DIALOG_COLOR_BG = #000
DIALOG_COLOR_FG = #fff
INLINE_SEGMENT_CHANGED_COLOR_FG = #000
INLINE_SEGMENT_CHANGED_COLOR_BG = #294
LOADING_COLOR_BG = #b8f
OVERLAY_COLOR_BG = #00f
OVERLAY_COLOR_FG = #fff
GUTTER_COLOR_FG = #000
GUTTER_COLOR_BG = #eee
GUTTER_FLOW_COLOR_BG = #0f0
GUTTER_BREAKPOINT_COLOR_BG = #f00
ON_BG_COLOR = rgb(245, 245, 140)

LINE_NUMBERS_TEXT_COLOR = #6e6e6e
LINE_NUMBERS_BORDER_COLOR = #b8c0cf

STATUS_BACKGROUND_COLOR=#2a344c
OPERATION_STATUS_COLOR=#86EFAC

WHITESPACE_STATUS_BUTTON_COLOR=#364c66
WHITESPACE_STATUS_BUTTON_HOVER_COLOR=#fefefe

BUTTON_COLOR=#eef
HOVERED_BUTTON_COLOR=#353d51
BUTTON_BACKGROUND_COLOR=#434f6a
HOVERED_BUTTON_BACKGROUND_COLOR=#bfc5d3

MENU_BACKGROUND_COLOR=#293247
DEBUG_BUTTON_COLOR=#fefefe
DEBUG_BUTTON_BORDER_COLOR=#3a3a3a
DEBUG_SEPARATE_BAR_COLOR=#2c2c2c

HEADER_PANEL_BACKGROUND_COLOR=#b8c0cf
HEADER_PANEL_COLOR=#778088
HEADER_PANEL_INACTIVE_COLOR=#414141 // TODO: Fix this
HEADER_ACTIVE_PANEL_BACKGROUND_COLOR=white //#f5f5f5 TODO
HEADER_ACTIVE_PANEL_TEXT_COLOR=#5885ac

CALLTRACE_COLLAPSE_IMG='../../public/resources/calltrace/collapse-call-calltrace-white.svg'
CALLTRACE_EXPAND_IMG='../../public/resources/calltrace/expand-call-calltrace-white.svg'
CALLTRACE_DOT_IMG='../../public/resources/calltrace/dot-call-calltrace-white.svg'
CALLTRACE_EOP_IMG='../../public/resources/calltrace/end-of-program-white.svg'
CALLTRACE_EOP_ERROR_IMG='../../public/resources/calltrace/end-of-program-dark.svg'

OUTPUT_COLOR_FG = #fff
OUTPUT_COLOR_BG = #000
CALLTRACE_COLOR_CURRENT = #00f
CALLTRACE_COLOR_PREVIOUS = #00f
CALLTRACE_COLOR_NEXT = #3aa4b5
CALLTRACE_COLOR_CHILDREN = #0ff
CALLTRACE_COLLAPSED_CALL = #BBF7D0
CALLTRACE_END_OF_PROGRAM_TEXT = #C2410C
CALLTRACE_END_OF_PROGRAM_ERROR = #FED7AA
CALLTRACE_SUMMARY_BG = #a2a
CALLTRACE_ARGS_COLOR = #15803D
CALLTRACE_RETURN_COLOR = #2563EB
CALLTRACE_TOOLTIP_BACKGROUND_COLOR = white
CALLTRACE_TOOLTIP_BORDER_COLOR = #6e6e6e
CALLTRACE_TRACE_LINE_COLOR = #3E3E3E
CALLTRACE_NEXT_CALL_POINTER_COLOR = #eb4f64
SPEED_VERY_FAST_BG = #52F373
SPEED_FAST_BG = #4BA02F
SPEED_MEDIUM_BG = #DCF438
SPEED_SLOW_BG = #F02D2D
HIGHLIGHT_COLOR = #62F4D4
ERROR_COLOR_FG = #fff
ERROR_COLOR_BG = #a00
NORMAL_COLOR_FG = #fff
NORMAL_COLOR_BG = #0a0
WARN_COLOR_FG = #fff
WARN_COLOR_BG = #0ff
FUZZY_RESULT_COLOR_BG = #888
LOADING_TEXT_COLOR_FG = #00f
SEARCHED_TOKEN_COLOR = #ECF53D
BREAK_COLOR = #fff
INSTANTIATIONS_MENU_COLOR_BG = #3761D3
INSTANTIATIONS_MENU_COLOR_FG = #D3E9E9
INCODE_COLOR_BG = #77DA1D
INCODE_COLOR_BORDER = #77FF00
MENU_LINE_HEIGHT = 25px
MENU_FONT_SIZE = 14px
MENU_SHORTCUT_FONT_SIZE = 16px
MENU_NAME_PADDING = 5px

MENU_NODE_WIDTH=200px
MENU_NODE_NAME_WIDTH=316px
MENU_NODE_SHORTCUT_WIDTH=195px
MENU_NODE_ICON_WIDTH=17px
MENU_NODE_MIN_WIDTH=200px
MENU_NODE_NAME_MIN_WIDTH=166px
MENU_SEARCH_INPUT_WIDTH=289px
MENU_SEARCH_INPUT_MIN_WIDTH=183px
MENU_ELEMENT_NAME_WIDTH=195px
MENU_ELEMENT_NAME_MIN_WIDTH=83px
MENU_NODE_SHORTCUT_MIN_WIDTH=17px
NAVIGATION_MENU_COLOR=#525355
NAVIGATION_MENU_BACKGROUND_COLOR=#E8EBF0
NAVIGATION_MENU_INPUT_BACKGROUND_COLOR=#E8EBF0
NAVIGATION_MENU_BORDER_COLOR=#BEC0C7
MENU_EXPAND_WIDTH=17px
MENU_NODE_SHORTCUT_TEXT_COLOR=#5a81e5
NAVIGATION_MENU_ACTIVE_BACKGROUND_COLOR=#97c5d3

// those filters converts to white
TO_WHITE_SVG_FILTER=invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
DEBUG_BUTTON_SVG_FILTER=TO_WHITE_SVG_FILTER
MENU_BUTTON_SVG_FILTER=TO_WHITE_SVG_FILTER

FLOW_PARALLEL_BACKGROUND_COLOR=white
FLOW_PARALLEL_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4fa05a
FLOW_PARALLEL_BACKGROUND_BORDER_COLOR=grey
FLOW_LOOP_EXPRESSION_BACKGROUND_COLOR=#56a3e8
FLOW_LOOP_EXPRESSION_BOX_SHADOW_COLOR=#3972a3
FLOW_LOOP_VALUE_BOX_SHADOW_COLOR=grey
FLOW_PARALLEL_NAME_BACKGROUND_COLOR=#777
FLOW_PARALLEL_NAME_COLOR=white
FLOW_PARALLEL_BEFORE_VALUE_BORDER_COLOR=#aaa
FLOW_PARALLEL_BEFORE_VALUE_COLOR=black
FLOW_PARALLEL_NAME_BORDER_COLOR=#777
FLOW_PARALLEL_BEFORE_VALUE_BACKGROUND_COLOR=#aaa
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BORDER_COLOR=#ccc
FLOW_PARALLEL_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#e0e1e1
FLOW_PARALLEL_BEFORE_ONLY_VALUE_COLOR=#3D993D
FLOW_PARALLEL_AFTER_VALUE_BORDER_COLOR=#eee
FLOW_PARALLEL_AFTER_VALUE_BACKGROUND_COLOR=#eee
FLOW_PARALLEL_AFTER_VALUE_COLOR=black
FLOW_PARALLEL_ITERATION_INFO_COLOR=white
FLOW_PARALLEL_ITERATION_INFO_BACKGROUND_COLOR=#777
FLOW_PARALLEL_SLIDER_COLOR=grey

FLOW_PARALLEL_ERROR_NAME=#B91C1C
FLOW_PARALLEL_ERROR_BOX=#7F1D1D

FLOW_PARALLEL_STD_DEFAULT_NAME=#0E7490
FLOW_PARALLEL_STD_DEFAULT_BOX=#164E63

FLOW_VALUE_NAME_BACKGROUND=#2C2C2C
FLOW_BACKGROUND_COLOR=#2C2C2C

FLOW_LOOP_CONNECT=#56a3e8
FLOW_HANDLE=#4483bb
FLOW_SLIDER_BASE=white

FLOW_MULTILINE_BACKGROUND_COLOR=BACKGROUND_COLOR
FLOW_MULTILINE_LOOP_VALUE_BACKGROUND_COLOR=#C2C4CD
FLOW_MULTILINE_LOOP_VALUE_COLOR=#3D993D
FLOW_MULTILINE_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4fa05a
FLOW_MULTILINE_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#C2C4CD
FLOW_MULTILINE_BEFORE_ONLY_VALUE_COLOR=#3D993D
FLOW_MULTILINE_VALUE_BOX_SHADOW_COLOR=#9A9DA7

FLOW_INLINE_BACKGROUND_COLOR=BACKGROUND_COLOR
FLOW_INLINE_ACTIVE_LOOP_ITERATION_BACKGROUND_COLOR=#4fa05a
FLOW_INLINE_BEFORE_ONLY_VALUE_BACKGROUND_COLOR=#C2C4CD
FLOW_INLINE_BEFORE_ONLY_VALUE_COLOR=#3D993D

FLOW_CONDITION_TAKEN = #B9F8B9
FLOW_CONDITION_NOT_TAKEN = #F8B9B9

EVENT_LOG_BORDER_COLOR=#eee
EVENT_LOG_BUTTON_BACKGROUND_COLOR=#eef
EVENT_LOG_BUTTON_UNSELECTED_COLOR=red
EVENT_LOG_BUTTON_SELECTED_COLOR=#434f6a
EVENT_LOG_CARET_DOWN_COLOR=#646e85
EVENT_LOG_INPUT_COLOR=COLOR

//dropdown menus
DROPDOWN_COLOR=#434f6a
DROPDOWN_ARROW_COLOR=#434f6a
DROPDOWN_ARROW_FOCUSED_COLOR=#434f6a
DROPDOWN_TEXT_COLOR=#434f6a
DROPDOWN_TEXT_FOCUSED_COLOR=#434f6a
DROPDOWN_LIST_BACKGROUND_COLOR=#eef
DROPDOWN_LIST_FOCUSED_BACKGROUND_COLOR=#b8c0cf
DROPDOWN_CHECKMARK_COLOR=#434f6a
DROPDOWN_TOGGLE_BUTTONS_BACKGROUND=#333333

//checkmark colors
CHECKMARK_BORDER_COLOR=#434f6a

INPUT_BACKGROUND_COLOR=#eef
INPUT_PLACEHOLDER_COLOR=#C8C8C8
INPUT_DEFAULT_SEARCH_ICON=url("../../public/resources/shared/input_default_search_icon_dark.svg")

TRACEPOINT_CHEVRON_COLOR=#b8c0cf
TRACEPOINT_SPLITTER_COLOR=#b8c0cf

TRACEPOINT_BACKGROUND_COLOR=#dee1e7

SELECTED_BACKGROUND_COLOR=#b8c0cf

REGION_BACKGROUND_COLOR=rgb(255, 234, 216)

COMMAND_EVEN_BACKGROUND_COLOR=BACKGROUND_COLOR
COMMAND_ODD_BACKGROUND_COLOR=TEXT_CONTENT_COLOR
COMMAND_RESULT_BACKGROUND_COLOR = #eef
COMMAND_RESULT_HOVERED_BACKGROUND_COLOR = #8fbfe9
COMMAND_RESULT_SELECTED_BACKGROUND_COLOR = #56a3e8
COMMAND_RESULT_SELECTED_TEXT_COLOR = #eef
COMMAND_BORDERS_COLOR = #56a3e8
COMMAND_HIGHLIGHTED_RESULT_TEXT_COLOR = #eb4f64

GUTTER_LINE_TEXT_COLOR = #6e6e6e

WEBKIT_SCROLLER_BACKGROUND_COLOR=#f5f5f5
WEBKIT_SCROLLER_HOVER_BACKGROUND_COLOR=white
WEBKIT_SCROLLER_THUMB_BACKGROUND_COLOR=#D7DCE3 // eef 0.5
WEBKIT_SCROLLER_THUMB_ACTIVE_BACKGROUND_COLOR=rgb(112, 112, 256, 0.9) // 77f 0.9

EDITOR_MENU_TRACE_COLOR=#00f
TRACE_HEADER_BACKGROUND_COLOR=#eee
RR_TICKS_LINE_LEFT_COLOR=#1474c4
RR_TICKS_LINE_RIGHT_COLOR=#ce4e1b
RR_TICKS_EMPTY_REMAINING_COLOR=#eee

ATOM_EVEN_BACKGROUND_COLOR=#0aa
HEADER_ELEMENT_BACKGROUND_COLOR=#eef

COMMENT_TEXT_COLOR = #eb4f64
STRING_TEXT_COLOR = #0b6ae6
KEY_WORDS_TEXT_COLOR = #56a3e8
TYPES_TEXT_COLOR = #2dc079
VALUES_TEXT_COLOR = #56a3e8

MENU_EXTEND_ARROW_ICON = url("../../public/resources/menu/menu_expand_button_dark.svg")
FILE_MENU_ICON = url("../../public/resources/menu/file_16_white.svg")
NEW_FILE_MENU_ICON = url("../../public/resources/menu/new_file_16_white.svg")
OPEN_FILE_MENU_ICON = url("../../public/resources/menu/open_file_16_white.svg")
EDIT_MENU_ICON = url("../../public/resources/menu/edit_16_white.svg")
NAVIGATE_MENU_ICON = url("../../public/resources/menu/navigate_16_white.svg")
VIEW_MENU_ICON = url("../../public/resources/menu/view_24_white.svg")
BUILD_MENU_ICON = url("../../public/resources/menu/build_16_white.svg")
DEBUG_MENU_ICON = url("../../public/resources/menu/debug_16_white.svg")
HELP_MENU_ICON = url("../../public/resources/menu/help_16_white.svg")
SHELL_BACKGROUND_COLOR = BACKGROUND_COLOR
SHELL_TEXT_CONTENT_COLOR = TEXT_CONTENT_COLOR

WELCOME_SCREEN_BACKGROUND_COLOR = #F5F5F5
WELCOME_SCREEN_TEXT_COLOR =  #707070
WELCOME_SCREEN_VERSION_TEXT_COLOR = #CCCCCC
WELCOME_SCREEN_OPTIONS_TEXT_COLOR = #707070
WELCOME_SCREEN_OPTIONS_TEXT_COLOR_HOVERED = #4F9FE6
WELCOME_SCREEN_OPTIONS_RECORD_ICON = FILE_MENU_ICON = url("../../public/resources/welcome/Play_50_white.svg")
WELCOME_SCREEN_OPTIONS_RECORD_ICON_HOVERED = FILE_MENU_ICON = url("../../public/resources/welcome/Play_50_blue.svg")
WELCOME_SCREEN_RECENT_PROJECT_TEXT_COLOR = #707070
WELCOME_SCREEN_RECENT_PROJECT_BACKGROUND_COLOR = #cfcfcf
WELCOME_SCREEN_RECENT_TRACE_COLOR=#FFEDD5
WELCOME_SCREEN_SEPARATE_BAR_COLOR=#646464

NEW_RECORD_SCREEN_INPUT_BACKGROUND_COLOR = #cfcfcf
NEW_RECORD_SCREEN_BUTTON_BACKGROUND_COLOR = #cfcfcf
NEW_RECORD_LABEL_COLOR = #ABABAB

FORM_INVALID_INPUT_COLOR = #eb4f64

NOTIFICATION_INFO_COLOR = rgb(49.019608%,80%,98.823529%)
NOTIFICATION_WARNING_COLOR = #ffcc33
NOTIFICATION_ERROR_COLOR = rgb(100%,25.490196%,25.490196%)
NOTIFICATION_SUCCESS_COLOR = rgb(47, 214, 44)

NOTIFICATION_INFO_IMG = url("../../public/resources/notifications/info_icon_dark.svg")
NOTIFICATION_WARNING_IMG = url("../../public/resources/notifications/warning_icon_dark.svg")
NOTIFICATION_ERROR_IMG = url("../../public/resources/notifications/error_icon_dark.svg")
NOTIFICATION_SUCCESS_IMG = url("../../public/resources/notifications/success_icon_dark.svg")

DEBUG_NOTIFICATIONS_TEXT = #eaeaea

TX_STATUS_SUCCESS = #4ADE80
TX_STATUS_UNSUCCESS = #EF4444

@import "codetracer"
